*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body > header img { 
    width: 30px;
}
body > header { 
    background-color: #ce222b;
    padding: 16px 0;
    color: aliceblue;
}
header .container {
    display: flex;
    align-items:center;
    justify-content: space-between;

}

header li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 8px; 
}
header li a {
    color: black;
    text-decoration: none;
}
.container { 
    width: 80%;
    margin: 0 auto; 
}
.articles{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.articles article img{ 
   /* height: 180px; */
   width: 100%;
}
.articles video{ 
    width: 50%;
}
.articles article { 
    width: 30%;
}
section {
    padding: 16px 0;
}
section h2, .articles article { 
    margin-bottom: 16px;
}
.articles article h3 { 
    margin-top: 9px;
    margin-bottom: 9px;

}
.articles article a { 
    background-color: rgb(255, 255, 255);
    color: #ff0000; 
    padding: 8px;
    display: inline-block;
    text-decoration: none;
}
.articles article a:hover{ 
    text-decoration: underline;

}

.articles article p, .articles article a {

    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 { 
    font-size: 20px;
}

section h2 { 
    font-size: 30px;
}
#esportes { 
    background-color: rgba(255, 255, 255, 0.089);
}
#esportes .articles a{
    background-color: #ffffff2f; 
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
#economy { 
    background-color: rgb(250, 207, 207);

}
#economy .articles article a { 
    background-color: rgba(0, 0, 0, 0.897);
}
#economy .articles img { 
    width: 200px;
}
#flatv { 
    background-color: #ce222b;
}
#var{ 
    background-color: #ff9900ce;
}